<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label "닉네임" %><br/>
    <%= f.text_field :nickname, autofocus: true, :required => true %><br/>
    <%= f.label :"이메일" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.label :"비밀번호" %> <i>(변경하고 싶지 않으면 공란으로 남겨 두십시오.)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em>최소<%= @minimum_password_length %>자</em>
        <% end %>
     <%= f.label :"비밀번호_확인" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %><br>
     <%= f.label :"현재_비밀번호" %> <i>(변경 사항을 확인하려면 현재 비밀번호가 필요합니다.)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
